body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}